





    @{Html.RenderPartial("~/Views/Shared/navbar-webpayplus.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Crear Transacción Mall</h2>
            En este paso crearemos la transacción con el objetivo de obtener un identificador unico y poder en el siguiente paso redirigir al Tarjetahabiente hacia el formulario de pago
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Para comenzar debes importar WebpayPlus y luego crear una transacción mall
        </div>
        <div class="col-6">
            <pre>
                <code class="language-java">
                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.WebpayPlus;
                    //fin sección de importación

                    tx = new MallTransaction(new Options(IntegrationCommerceCodes.WEBPAY_PLUS_MALL, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var buyOrder = "buyOrder_" + GetRandomNumber();
                    var sessionId = "sessionId_" + GetRandomNumber();
                    var returnUrl = CreateUrl(ctrlName, "commit");

                    var childCommerceCode1 = IntegrationCommerceCodes.WEBPAY_PLUS_MALL_CHILD1;
                    var childBuyOrder1 = "childBuyOrder_" + GetRandomNumber();
                    decimal amount1 = 1000;

                    var childCommerceCode2 = IntegrationCommerceCodes.WEBPAY_PLUS_MALL_CHILD2;
                    var childBuyOrder2 = "childBuyOrder_" + GetRandomNumber();
                    decimal amount2 = 1000;

                    var details = new List<TransactionDetail>
                        ();
                        details.Add(new TransactionDetail(
                        amount1,
                        childCommerceCode1,
                        childBuyOrder1
                        ));
                        details.Add(new TransactionDetail(
                        amount2,
                        childCommerceCode2,
                        childBuyOrder2
                        ));

                        var response = tx.Create(buyOrder, sessionId, returnUrl, details);

                </code>
            </pre>
        </div>
    </div><br>


    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Una vez creada la transacción, estos serán los datos de respuesta
        </div>
    </div><br>


    <div class="row">
        <div class="col-6">
            <h4>Por último</h4>
            Debes utilizar estos datos para crear un formulario
        </div>
        <div class="col-6">
            <pre>
                <code class="language-html">
&lt;form action="@ViewBag.Token" method="POST">
   &lt;input type="hidden" name="token_ws" value="@ViewBag.Token"/>
   &lt;input type="submit" value="Pagar"/>
&lt;/form>
                </code>
            </pre>
        </div>
    </div><br>


    <br>
    <div class="row">
        <h2>Ejemplo</h2>
    </div>

    <div class="row">
        <div class="col-6">
            <h4>Creamos la transacción</h4>
            Usando los siguientes datos
            <table class="table table-bordered">
                <tr>
                    <th>Campo</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>Orden de compra (buyOrder)</td>
                    <td>@ViewBag.BuyOrder</td>
                </tr>
                <tr>
                    <td>ID de sesión (sessionid)</td>
                    <td>@ViewBag.SessionId</td>
                </tr>
                <tr>
                    <td>Detalle 1 (details)</td>
                    <td>
                        Monto: @ViewBag.amount1")}<br>
                        Código de Comercio: @ViewBag.childCommerceCode1")}<br>
                        Orden de Compra: @ViewBag.childBuyOrder1")} <br>
                    </td>
                </tr>
                <tr>
                    <td>Detalle 2 (details)</td>
                    <td>
                        Monto: @ViewBag.amount2")}<br>
                        Código de Comercio: @ViewBag.childCommerceCode2")}<br>
                        Orden de Compra: @ViewBag.childBuyOrder2")} <br>
                    </td>
                </tr>
                <tr>
                    <td>URL de retorno (returnUrl)</td>
                    <td>@ViewBag.ReturnUrl</td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <h4>Por último</h4>
            Con la respuesta del servicio creamos el formulario, para efectos del ejemplo haremos el campo token_ws visible
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Formulario de redirección</h6>
                <form action="@ViewBag.Url" method="POST">
                  <div class="mb-3">
                    <label for="token_ws" class="form-label">token_ws</label>
                    <input type="text" class="form-control" name="token_ws" value="@ViewBag.Token">
                  </div>
                  <button type="submit" class="btn btn-primary">PAGAR</button>
                </form>
              </div>
            </div>

        </div>
    </div><br>

    


