@{
    ViewBag.Title = "Webpay Plus Diferido";
}

<h2>@ViewBag.Title</h2>
<h4>DeferredTransaction.Create</h4>

<h4>Request:</h4>
<pre style="background-color: lightyellow;">
POST: https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.0/transactions
<code class="json">
    {
        "buy_order": "@ViewBag.BuyOrder",
        "session_id": "@ViewBag.SessionId",
        "amount": "@ViewBag.Amount",
        "return_url": "@ViewBag.ReturnUrl"
    }
</code>
</pre>

<h4>Response:</h4>
<pre>
<code>
@ViewBag.Result
</code>
</pre>

<a href="javascript: document.globalForm.submit();" class="btn btn-primary">Iniciar Transacción</a>