@{
    ViewBag.Title = "Webpay Plus Diferido";
}

<h2>@ViewBag.Title</h2>
<h4>DeferredTransaction.Capture</h4>

<h4>Request:</h4>
<pre style="background-color: lightyellow;">
PUT: https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.0/transactions/<span id="token"></span>/capture
<code class="json">
    {
        "buy_order": "@ViewBag.BuyOrder",
        "authorization_code": "@ViewBag.AuthorizationCode",
        "capture_amount": "@ViewBag.CaptureAmount"
    }
</code>
</pre>

<h4>Response:</h4>
<pre><code>@ViewBag.Result.ToString()</code></pre>

@if (ViewBag.Result.ResponseCode == 0)
{
    <p>Captura realizada exitosamente.</p>
}
else
{
    <p>Error al ejecutar captura.</p>
}

<a href="javascript: document.globalForm.submit();" class="btn btn-info">Anular transacción</a>
@Html.ActionLink("Volver al inicio", "Index", "Home", null, new {@class = "btn btn-primary"})

<script>
    window.localStorage.setItem('BuyOrder','@ViewBag.BuyOrder');
    document.globalForm.innerHTML += '<input type="hidden" name="amount" value="@ViewBag.CaptureAmount" />';
</script>