
@{
    Html.RenderPartial("~/Views/Shared/navbar-patpass.cshtml");
}

<div class="row">
    <div class="col">
        <h2>Inscribir Servicio</h2>
        En este paso inscribiremos una tarjeta con el objetivo de obtener un identificador unico y poder en el siguiente paso redirigir al Tarjetahabiente hacia el formulario de inscripción
    </div>
</div><br>

<div class="row">
    <div class="col-6">
        <h4>Petición</h4>
        Para comenzar debes importar PatpassComercio y luego comenzar una inscripción
        Tener en cuenta que actualmente el ambiente de integración no soporta direcciones locales (como localhost, 127.0.0.1, 192.168.*.*) en los atributos en los atributos 'url' y 'finalUrl'.
    </div>
    <div class="col-6">
        <pre>
            <code class="language-java">

//inicio sección de importación
using Transbank.Common;
using Transbank.Patpass.Common;
using Transbank.Patpass.PatpassComercio;
using Transbank.Patpass.PatpassComercio.Responses;
//fin sección de importación

Inscription inscription = new Inscription(new Options(IntegrationCommerceCodes.PATPASS_COMERCIO, IntegrationApiKeys.PATPASS_COMERCIO, PatpassComercioIntegrationType.Test));

StartResponse response = inscription.start(
                returnUrl,
                name,
                lastName,
                secondLastName,
                rut,
                serviceId,
                finalUrl,
                maxAmount,
                phone,
                cellPhone,
                patpassName,
                personEmail,
                commerceEmail,
                address,
                city);

            </code>
        </pre>
    </div>
</div><br>


<div class="row">
    <div class="col-6">
        <pre>
            <code class="language-json">
@ViewBag.Resp
            </code>
        </pre>
    </div>
    <div class="col-6">
        <h4>Respuesta</h4>
        Una vez iniciada la inscripción, estos serán los datos de respuesta
    </div>
</div><br>


<div class="row">
    <div class="col-6">
        <h4>Por último</h4>
        Debes utilizar estos datos para crear un formulario
    </div>
    <div class="col-6">
        <pre>
            <code class="language-html">
&lt;form action="@ViewBag.UrlWebpay" method="POST">
&lt;input type="hidden" name="tokenComercio" value="@ViewBag.TbkToken"/>
&lt;input type="submit" value="Inscribir"/>
&lt;/form>
            </code>
        </pre>
    </div>
</div><br>


<br>
<div class="row">
    <h2>Ejemplo</h2>
</div>

<div class="row">
    <div class="col-6">
        <h4>Iniciamos la inscripción</h4>
        Usando los siguientes datos
        <table class="table table-bordered">
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>Url de retorno luego de realizar la inscripción</td>
                <td>@ViewBag.ReturnUrl</td>
            </tr>
            <tr>
                <td>Nombre del Cliente</td>
                <td>@ViewBag.Name</td>
            </tr>
            <tr>
                <td>Apellido del Cliente</td>
                <td>@ViewBag.LastName</td>
            </tr>
            <tr>
                <td>Segundo Apellido del Cliente</td>
                <td>@ViewBag.SecondLastName</td>
            </tr>
            <tr>
                <td>Rut del Cliente</td>
                <td>@ViewBag.Rut</td>
            </tr>
            <tr>
                <td>Id del Servicio </td>
                <td>@ViewBag.ServiceId</td>
            </tr>
            <tr>
                <td>Url de redirección luego de generar el voucher</td>
                <td>@ViewBag.FinalUrl</td>
            </tr>
            <tr>
                <td>Monto máximo de pago</td>
                <td>@ViewBag.MaxAmount</td>
            </tr>
            <tr>
                <td>Teléfono del contacto</td>
                <td>@ViewBag.Phone</td>
            </tr>
            <tr>
                <td>Celular del contacto</td>
            <td>@ViewBag.CellPhone</td>
            </tr>
            <tr>
                <td>Nombre de la inscripción en Patpass	</td>
                <td>@ViewBag.PatpassName</td>
            </tr>
            <tr>
                <td>Correo del contacto</td>
                <td>@ViewBag.PersonEmail</td>
            </tr>
            <tr>
                <td>Correo del comercio	</td>
                <td>@ViewBag.CommerceEmail</td>
            </tr>
            <tr>
                <td>Correo del comercio	</td>
                <td>@ViewBag.Address</td>
            </tr>
            <tr>
                <td>Ciudad del contacto</td>
                <td>@ViewBag.City</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <h4>Por último</h4>
        Con la respuesta del servicio creamos el formulario, para efectos del ejemplo haremos el campo token_ws visible
        <div class="card">
            <div class="card-body">
            <h6 class="card-title">Formulario de redirección</h6>
            <form action="@ViewBag.UrlWebpay" method="POST">
                <div class="mb-3">
                <label for="token_ws" class="form-label">token_ws</label>
                <input type="text" class="form-control" name="tokenComercio" value="@ViewBag.TbkToken">
                </div>
                <button type="submit" class="btn btn-primary">INSCRIBIR</button>
            </form>
            </div>
        </div>

    </div>
</div><br>


