@{
    Html.RenderPartial("~/Views/Shared/navbar-index.cshtml");
}

<div class="row">
    <div class="col-4">
        <img class="product" src="/images/wpplus.png">
    </div>
    <div class="col-8">
        <table class="table table-bordered">
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/webpay_plus/create">Webpay Plus</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/webpay_plus_deferred/create">Webpay Plus Diferido</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/webpay_plus_mall/create">Webpay Plus Mall</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/webpay_plus_mall_deferred/create">Webpay Plus Mall Diferido</a></td></tr>
        </table>
    </div>
</div>
<br>

<div class="row">
    <div class="col-8">
        <table class="table table-bordered">
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/oneclick_mall/start">Oneclick Mall</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/oneclick_mall_deferred/start">Oneclick Mall Diferido</a></td></tr>
        </table>
    </div>
    <div class="col-4">
        <img class="product" src="/images/oneclick.png">
    </div>
</div>
<br>

<div class="row">
    <div class="col-4">
        <img class="product" src="/images/txcompleta.png">
    </div>
    <div class="col-8">
        <table class="table table-bordered">
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/transaccion_completa/form">Transacción Completa</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/transaccion_completa_deferred/form">Transacción Completa Diferido</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/transaccion_completa_mall/form">Transacción Completa Mall</a></td></tr>
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/transaccion_completa_mall_deferred/form">Transacción Completa Mall Diferido</a></td></tr>
        </table>
    </div>
</div>
<br>

<div class="row">
    <div class="col-8">
        <table class="table table-bordered">
            <tr><td><a class="nav-link tbk-link" aria-current="page" href="/patpass_comercio/start">PatPass Comercio</a></td></tr>
        </table>
    </div>
    <div class="col-4">
        <img class="product" src="/images/patpass.png">
    </div>
</div>










<h1>Ejemplos Webpay</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Service</th>
            <th scope="col">Create</th>
            <th scope="col">Refund</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Webpay Plus
            </td>
            <td>
                @Html.ActionLink("Crear Transacción", "NormalCreate", "WebpayPlus")
            </td>
            <td>
                @Html.ActionLink("Reembolsar Transacción", "NormalRefund", "WebpayPlus")
            </td>
            <td>
                @Html.ActionLink("Estado de la Transacción", "NormalStatus", "WebpayPlus")
            </td>
        </tr>
        <tr>
            <td>
                Webpay Plus Mall
            </td>
            <td>
                @Html.ActionLink("Crear Transacción", "MallCreate", "WebpayPlus")
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                Webpay Plus Diferido
            </td>
            <td>
                @Html.ActionLink("Crear Transacción", "DeferredCreate", "WebpayPlus")
            </td>
            <td>
                @Html.ActionLink("Reembolsar Transacción", "DeferredRefund", "WebpayPlus")
            </td>
            <td>
                @Html.ActionLink("Estado de la Transacción", "DeferredStatus", "WebpayPlus")
            </td>
        </tr>
        <tr>
            <td>
                Webpay Plus Mall Diferido
            </td>
            <td>
                @Html.ActionLink("Crear Transacción", "MallDeferredCreate", "WebpayPlus")
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                Transacción Completa
            </td>
            <td>

                @Html.ActionLink("Crear Transacción", "Create", "TransaccionCompleta")

            </td>
            <td>

                @Html.ActionLink("Reembolsar Transacción", "Refund", "TransaccionCompleta")

            </td>
            <td>
                @Html.ActionLink("Estado de la Transacción", "Status", "TransaccionCompleta")
            </td>
        </tr>
        <tr>
            <td>
                OneClick Mall
            </td>
            <td>
                @Html.ActionLink("Comenzar Inscripción", "InscriptionStart", "OneclickMall")
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                OneClick Mall Diferido
            </td>
            <td>
                @Html.ActionLink("Comenzar Inscripción", "InscriptionStart", "OneclickMallDeferred")
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                Patpass by Webpay
            </td>
            <td>
                @Html.ActionLink("Crear Transaccion", "Create", "PatpassByWebpay")
            </td>
            <td>
                -
            </td>
            <td>

                @Html.ActionLink("Estado de la Transacción", "RequestStatus", "PatpassByWebpay")

            </td>
        </tr>
        <tr>
            <td>
                Patpass Comercio
            </td>
            <td>
                @Html.ActionLink("Iniciar Inscripcion", "Start", "PatpassComercio")
            </td>
            <td>
                -
            </td>
        </tr>
    </tbody>
</table>
