





    @{Html.RenderPartial("~/Views/Shared/navbar-txcompleta.cshtml");}

    <div class="row">
        <div class="col">
            <h2>Crear Transacción</h2>
            En este paso crearemos la transacción con el objetivo de obtener un identificador unico.
        </div>
    </div><br>

    <div class="row">
        <div class="col-6">
            <h4>Petición</h4>
            Para comenzar debes importar TransaccionCompleta y luego crear una transacción
        </div>
        <div class="col-6">
            <pre>
                <code class="language-java">
                    //inicio sección de importación
                    using Transbank.Common;
                    using Transbank.Webpay.Common;
                    using Transbank.Webpay.TransaccionCompleta;
                    //fin sección de importación

                    tx = new FullTransaction(new Options(IntegrationCommerceCodes.TRANSACCION_COMPLETA, IntegrationApiKeys.WEBPAY, WebpayIntegrationType.Test));

                    var buyOrder = "buyOrder_" + GetRandomNumber();
                    var sessionId = "sessionId_" + GetRandomNumber();
                    var returnUrl = CreateUrl(ctrlName, "commit");
                    var cardExpirationDate = year + "/" + month;
                    var response = tx.Create(buyOrder, sessionId, amount, cvv, card_number, cardExpirationDate);

                </code>
            </pre>
        </div>
    </div><br>


    <div class="row">
        <div class="col-6">
            <pre>
                <code class="language-json">
@ViewBag.Resp
                </code>
            </pre>
        </div>
        <div class="col-6">
            <h4>Respuesta</h4>
            Una vez creada la transacción, estos serán los datos de respuesta
        </div>
    </div><br>

    <div class="row">
        <h2>Lo siguiente ...</h2>
    </div><br>

    <div class="row">
        <div class="col-6">
            <form action="@ViewBag.commitEndpoint")}" method="POST">
              <input type="hidden" name="token" value="@ViewBag.Token">
              <button type="submit" class="btn btn-primary">CONFIRMAR SIN CUOTAS</button>
            </form>
        </div>
        <div class="col-6">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Formulario de cuotas</h6>
                <form action="@ViewBag.InstallmentsEndpoint" method="POST">
                  <input type="hidden" name="token" value="@ViewBag.Token">
                  <div class="mb-3">
                    <label for="amount" class="form-label">Nº de Cuotas</label>
                    <input type="text" class="form-control" name="installments" value="3">
                  </div>
                  <button type="submit" class="btn btn-primary">HACER CONSULTA DE CUOTAS</button>
                </form>
              </div>
            </div>
        </div>
    </div>





    


