<form action="@ViewBag.CaptureEndpoint" method="POST">
    <input type="hidden" name="token_ws" value="@ViewBag.TokenWS">
    <input type="hidden" name="buy_order" value="@ViewBag.BuyOrder">
    <input type="hidden" name="child_buy_order" value="@ViewBag.ChildBuyOrder">
    <input type="hidden" name="child_commerce_code" value="@ViewBag.ChildCommerceCode">
    <input type="hidden" name="authorization_code" value="@ViewBag.AuthorizationCode">
    <div class="row">
        <div class="col-4">
            <button type="submit" class="btn btn-primary">CAPTURAR</button>
        </div>
        <div class="col-4">
             <div class="form-floating mb-3">
               <input type="text" class="form-control" name="amount" id="amount" value="@ViewBag.Amount">
               <label for="amount">Monto a capturar</label>
             </div>
        </div>
        <div class="col-4">
            Capturar la transacción para realmente capturar el dinero que habia sido previamente reservado.
        </div>
    </div>
</form>


